html, body, #ad {
  width: 300px;
  height: 250px;
  margin: 0;
}

.ArrowAd {
  width: 300px;
  height: 250px;
  position: relative;
  background: url('../images/arrow_june-free-overnight_html5-backgrounds_300x250.png');
}

.ArrowAd-home {
  position: absolute;
  top:0px;
  width: 100%;
  height: 90%;
}

.ArrowAd-home-bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 10%;
}

.ArrowAd-search {
  position: absolute;
  top: 167px;
  left: 12px;
  z-indeX: 1;
  width: 210px;
  margin: 0;
}

.ArrowAd-search-input {
  line-height:18px;
  border: 0;
  padding: 0 10px;
  background: transparent;
  width: 190px;
  height: 40px;
  bottom: 0;
  font-size: 14px;
}

.ArrowAd-search-input:focus {
  outline: 0;
}

.ArrowAd-search-submit {
  background: transparent;
  border: 0;
  height: 40px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: 30px;
  left: 175px;
}
